<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
<mat-progress-bar mode="query" color="primary"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
<mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>
<mat-divider></mat-divider>

<hr />

<br />

<mat-card style="opacity: 0.5 !important; margin: 0 0 0 10px !important; width: 300px !important;">
  <mat-card-header>
    <mat-card-subtitle>
      <span style="padding-left: 47px !important;">Spaghetti boilerplate stuff.</span>
    </mat-card-subtitle>
    <mat-card-title>
      <span style="padding-left: 27px !important;">{{ SPAwebTitle }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-grid-list cols="9" rowHeight="1:1" style="font-family: cursive !important; font-weight: 900 !important;">
      <mat-grid-tile>
        <div class="y0 x0 sub00 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y0 x1 sub00 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y0 x2 sub00 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y0 x3 sub01 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y0 x4 sub01 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y0 x5 sub01 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y0 x6 sub02 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y0 x7 sub02 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y0 x8 sub02 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y1 x0 sub00 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y1 x1 sub00 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y1 x2 sub00 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y1 x3 sub01 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y1 x4 sub01 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y1 x5 sub01 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y1 x6 sub02 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y1 x7 sub02 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y1 x8 sub02 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y2 x0 sub00 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y2 x1 sub00 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y2 x2 sub00 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y2 x3 sub01 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y2 x4 sub01 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y2 x5 sub01 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y2 x6 sub02 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y2 x7 sub02 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y2 x8 sub02 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y3 x0 sub10 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y3 x1 sub10 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y3 x2 sub10 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y3 x3 sub11 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y3 x4 sub11 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y3 x5 sub11 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y3 x6 sub12 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y3 x7 sub12 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y3 x8 sub12 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y4 x0 sub10 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y4 x1 sub10 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y4 x2 sub10 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y4 x3 sub11 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y4 x4 sub11 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y4 x5 sub11 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y4 x6 sub12 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y4 x7 sub12 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y4 x8 sub12 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y5 x0 sub10 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y5 x1 sub10 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y5 x2 sub10 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y5 x3 sub11 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y5 x4 sub11 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y5 x5 sub11 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y5 x6 sub12 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y5 x7 sub12 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y5 x8 sub12 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y6 x0 sub20 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y6 x1 sub20 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y6 x2 sub20 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y6 x3 sub21 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y6 x4 sub21 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y6 x5 sub21 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y6 x6 sub22 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y6 x7 sub22 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y6 x8 sub22 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y7 x0 sub20 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y7 x1 sub20 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y7 x2 sub20 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y7 x3 sub21 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y7 x4 sub21 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y7 x5 sub21 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y7 x6 sub22 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y7 x7 sub22 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y7 x8 sub22 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y8 x0 sub20 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y8 x1 sub20 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y8 x2 sub20 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y8 x3 sub21 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y8 x4 sub21 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y8 x5 sub21 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y8 x6 sub22 val">0</div>
      </mat-grid-tile><mat-grid-tile>
        <div class="y8 x7 sub22 val">0</div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="y8 x8 sub22 val">0</div>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
    <mat-divider></mat-divider>
  </mat-card-content>
  <div matRipple [matRippleColor]="'rgba(244, 244, 61, 0.6)'">
    <mat-card-actions>
      <button mat-button (click)="y_coloring()">(yRows)</button>
      <button mat-button (click)="x_coloring()">(xCols)</button>
      <button mat-button (click)="subcs_coloring()">(SubCubes)</button>
      <button mat-button (click)="null_coloring()">([&nbsp;&nbsp;])</button>
    </mat-card-actions>
    <mat-card-actions>
      <button mat-button (click)="i_tft_o()" id="g-b" style="visibility: visible;">((GENERATE))</button>
      <button mat-button (click)="rrndr_o_ui()" id="s-b" style="visibility: hidden;">((SOLVE))</button>
      <button mat-button (click)="window_relocation()">~GitHub~</button>
    </mat-card-actions>
  </div>
  <mat-card-footer>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </mat-card-footer>
</mat-card>

<p style="color: rgba(244, 244, 122, 0.4) !important; margin: 5px 0 0 20px !important;">
  <span style="font-family: cursive !important; font-weight: 900 !important;">
    <address style="padding: 0 0 0 55px !important;">jozef-javorsky-dodo</address>
  </span>
</p>

<h1 style="visibility: hidden !important;">Hello, {{ title }}</h1>
